<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>TopNews</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">


    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="theme-color" content="#FFA343">
    <meta name="background-color" content="#FFA343">
    <meta name="theme_color" content="#FFA343">
    <meta name="background_color" content="#FFA343">


    <meta name="mobile-web-app-status-bar-style" content="#FFA343">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFA343">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but TopNews doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
