<template>
    <v-row justify="center">
        <v-col cols="12" class="pl-lg-12 pl-md-12 pl-sm-0 pl-0 top-news-view-col">
            <NewsWrapperComponent :category="category"  :title="`Top news from ${category} category for ${getActiveCountry.name}`"></NewsWrapperComponent>
        </v-col>
    </v-row>
</template>

<script>
import NewsWrapperComponent from '@/components/NewsWrapperComponent'
import { mapGetters } from 'vuex'
export default {
    name: "CategoryView",  
    components: {
        NewsWrapperComponent
    },
    data: function () {
        return {
            category: ""
        }
    },
    created() {
        console.log(this.$route.params.category);
        this.category = this.$route.params.category;
    },
    computed: {
        ...mapGetters([
            'getActiveCountry'
        ])
    }
}
</script>