<template>
    <v-row class="top-news-view-container" justify="center">
        <v-col class="top-news-view-container-title" lg="12" md="12" sm="12" cols="12">
            <h1 class="text-left pa-1 px-lg-0 px-md-0 px-sm-4 px-4">Top 5 news by categories from {{ getActiveCountry.name  }}</h1>
        </v-col>
        <v-col cols="12 pt-0 mt-0">
            <CategoryTopNewsWrapperComponent></CategoryTopNewsWrapperComponent>
        </v-col>
    </v-row>
</template>

<script>
import CategoryTopNewsWrapperComponent from '@/components/CategoryTopNewsWrapperComponent'
import { mapGetters } from 'vuex'
export default {
    name: 'CategoriesView',
    components: {
        CategoryTopNewsWrapperComponent
    },
    data: function () {
        return {}
    },
    computed: {
        ...mapGetters([
            'getActiveCountry'
        ])
    },
}
</script>