<template>
  <div>
    <h1>Hello!</h1>
    <!-- <crud-component method="GET" url="/top-headlines" query="country=us">
      <template v-slot:default="{data, message}">
        {{ data }}

        {{ message }}
      </template>
    </crud-component> -->
  </div>
</template>

<script>
// import CrudComponent from '@/components/CrudComponent'
export default {
  name: 'Home',
  components: {
    // CrudComponent,
    HeaderComponent
  }
}
</script>
