<template>
    <v-container>
        <v-row class="justify-center mt-6">
            <v-col lg="6" md="6" sm="6" col="12">
                <search-component @search="onSearch" appendIcon="fa-search"></search-component>
            </v-col>
        </v-row>
        <v-row>
            <v-col lg="12" md="12" sm="12" cols="12" class="text-center">
                <div>
                    <h1 class="text-left pa-1">Top news search results:</h1>
                </div>
                <crud-component @completed="onRequestFinished" :freez-requests="freezRequests" method="GET" url="/top-headlines" :query="queryUrl">
                    <template v-slot:default="{status, message, loading}">

                        <v-row class="text-center" v-if="status !== 'error'">
                            <v-col 
                            dense lg="3" md="4" sm="6" cols="12"
                            class="ma-0 pa-lg-3 pa-md-2 pa-sm-2 px-10" 
                            v-for="(news, index, key) in results" :key="key">
                                <news-component
                                    :loading="loading"
                                    class="news-view-card" 
                                    :item="news">
                                </news-component>
                            </v-col>
                        </v-row>
                        <v-row v-else justify="center"> 
                            <v-alert type="error">
                                {{ message }}
                            </v-alert>
                        </v-row>
                    </template>
                </crud-component>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import CrudComponent from '@/components/CrudComponent'
import NewsComponent from '@/components/NewsComponent'
import SearchComponent from '@/components/SearchComponent'
import { mapGetters } from 'vuex'
export default {
    name: "SearchView",
    components: {
        SearchComponent,
        CrudComponent,
        NewsComponent
    },
    data: function () {
        return {
            queryUrl: ``,
            freezRequests: true,
            results: [],
        }
    },
    computed: {
        ...mapGetters([
            'getActiveCountry',
            'getCurrentSearch'
        ])
    },
    watch: {
        /**
         * @description Search for same param if country get's changed
         */
        getActiveCountry: {
            deep: true,
            handler: function (newVal) {
                this.queryUrl = `country=${newVal.code}&q=${this.getCurrentSearch}`
            }
        }
    },
    methods: {
        onSearch(searchParam) {
            // Used to allow requests
            if (searchParam) {
                this.freezRequests = false;
                this.$store.dispatch('setCurrentSearch', searchParam)
                this.queryUrl = `country=${this.getActiveCountry.code}&q=${searchParam}`
            } else {
                if (!this.getCurrentSearch) {
                    this.results = [];
                }
            }
        },
        onRequestFinished({data}) {
            if (data) {
                this.results = data;
            }
        }
    }
}
</script>