<template>
    <v-container class="pa-0 ma-0 single-news-container-fluid" fluid>
        <v-row class="pa-0 ma-0" justify="center">
            <v-col cols="12" class="pa-0 ma-0 single-news-col">
                <v-img class="pa-0 ma-0" height="500" :src="getContentImage(getSingleNews.urlToImage)"></v-img>
            </v-col>
        </v-row>
        <v-row class="pt-6" justify="center">
            <v-col cols="12" class="pa-6 ma-0 single-news-title text-center">
                <h1>{{ getSingleNews.title }}</h1>
            </v-col>
        </v-row>
        <v-container class="single-news-container">
            <v-row class="pa-0" justify="center">
                <v-col cols="12" class="pa-6 ma-0 pb-4 single-news-content text-left">
                    <p>{{ getContent(this.getSingleNews) }}</p>

                </v-col>
            </v-row>
            <v-row class="pa-4 pt-0" justify="left">
                <v-col cols="12">
                    <v-btn @click="back" class="btn-back mt-2" fab bottom left>
                        <v-icon>mdi-keyboard-backspace</v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: "SignleNewsView",
    data: function() {
        return {
            news: {}
        }
    },
    created() {
        if (Object.keys(this.$route.params).length > 0) {
            this.news = this.$route.params
            this.$store.dispatch('setSingleNews', this.news)
        }
    },
    computed: {
        ...mapGetters([
            'getSingleNews'
        ])
    },
    methods: {
        // Go back to previous route
        back() {
            this.$router.go(-1);
        },
        // Get content or return default text
        getContent(news) {
            return news.content ?  news.content : (
                news.description ? 
                news.description : "No content provided"
            )
        },
        getContentImage(image) {
            return this.$globalHelpers.getImageUrl(image);
        }
    }
}
</script>