<template>
    <v-row justify="center">
        <v-col cols="12" class="pl-lg-12 pl-md-12 pl-sm-0 pl-0 top-news-view-col">
            <news-wrapper-component :title="`Top news from ${getActiveCountry.name}`"></news-wrapper-component>
        </v-col>
    </v-row>
</template>

<script>
import NewsWrapperComponent from '@/components/NewsWrapperComponent'
import { mapGetters } from 'vuex'
export default {
    name: "TopNewsView",  
    components: {
        NewsWrapperComponent
    },
    data: function () {
        return {}
    },
    computed: {
        ...mapGetters([
            'getActiveCountry'
        ])
    }
}
</script>