
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    --vs-primary: 115,103,240;
}

body {
    overflow-x: hidden;
    font-family: Helvetica Neue,Arial,sans-serif;
}

.v-application {
    overflow-x: hidden;
    height: 100%;
}

.main-container {
    height: 100%;
}

// Scrollbars
.minimal-scroll  ::-webkit-scrollbar {
    height: 1px;
}
.scroll-horizontally {
    overflow-x: scroll; 
    overflow-y: hidden;
    scroll-margin-left: 30px;
}
::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 1px; /* for horizontal scrollbars */
  color: $primary-site-color;
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

