.news-card-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #212121;
  opacity: 0.7;
  height: 64px;
}
.news-card-title p {
  position: relative;
  z-index: 1;
}
.news-card-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}
