.news-view-card.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
    height: 320px;
}

// Title area of each news card
.news-card-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #212121;
    opacity: 0.7;
    height: 70px;

    p {
        position: relative;
        z-index: 1;
    }
}

// Subtitle of news card - holds author
.news-card-subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    height: 30px;
}

// Container at news card which holds actions such as "more" button
.news-card-actions {
    position: relative;
    top: 0;
    height: 60px;
    .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
        background-color: $primary-site-color;
        color: #fff;
    }

    .news-card-source {
        p {
            font-size: 1.3rem;
        }
    }

    .news-card-published {
        p {
            font-size: 1.3rem;
        }
    }

}

// Actual news 
.news-card-description {
    font-size: 1.3rem;
    font-weight: 400;
    height: 70px;
    p {
        position: relative;
        top: 0px;
    }
}