
.theme--dark.v-app-bar.v-toolbar.v-sheet.header-component-bar {
    background-color: $primary-site-color;
    position: fixed;
    z-index: 10;
    
    .header-bar-titles {
        font-size: 2rem;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            border-bottom: 2px solid $secondary-site-color;
        }
    }

    .header-countries {
        cursor: pointer;
    }
}

// --------- Header items ---------
.header-item-active {
    border-bottom: 2px solid $secondary-site-color;
    cursor: pointer;
    opacity: 0.7;
}
// --------- Countries ---------
.country-disabled {
    pointer-events: disabled !important;
    cursor: not-allowed !important;
    opacity: 0.4;

    // Overwrite regular item hover from header with !important
    &:hover {
        opacity: 0.4 !important;
        border-bottom: none !important;
    }
}

.country-active {
    border-bottom: 2px solid $secondary-site-color;
    cursor: pointer;
    opacity: 0.7;
}