.navigation-drawer-component .v-list-item--dense .v-list-item__title,
.navigation-drawer-component .v-list-item--dense .v-list-item__subtitle,
.navigation-drawer-component .v-list--dense .v-list-item .v-list-item__title,
.navigation-drawer-component
  .v-list--dense
  .v-list-item
  .v-list-item__subtitle {
  color: #fff;
  font-size: 1.6rem;
  height: 40px;
  line-height: 40px;
}
.navigation-drawer-component .v-list-item .v-list-item__title,
.navigation-drawer-component .v-list-item .v-list-item__subtitle {
  color: #fff;
  font-size: 2rem;
}
.navigation-drawer-component .v-icon.v-icon {
  color: #fff;
  height: 40px;
  line-height: 40px;
}
