/** 
* This file is ment to be used for style of navigation drawer displayed an small devices
*/
.navigation-drawer-component {
    .v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
        color: #fff;
        font-size: 1.6rem;
        height: 40px;
        line-height: 40px;
    }

    .v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle {
        color: #fff;
        font-size: 2rem;
    }
    .v-icon.v-icon {
        color: #fff;
        height: 40px;
        line-height: 40px;
    }
}