.top-news-view-container .top-news-view-container-title {
  max-width: 1150px;
}
.top-news-view-container h1 {
  font-size: 3rem;
}
.top-news-view-container .category-news-wrapper-component-reduce {
  max-width: 1150px;
}
.top-news-view-container
  .category-news-wrapper-component-reduce
  .category-news-wrapper-component-title-row {
  background-color: #eaeaea;
}
.top-news-view-container
  .category-news-wrapper-component-reduce
  .category-news-wrapper-component-slider-item {
  max-width: 320px;
}
.news-view-container h1 {
  font-size: 3rem;
}
.top-news-view-col {
  max-width: 1400px;
}
@media screen and (max-width: 500px) {
  .news-view-container h1 {
    text-align: center;
  }
}
