.top-news-view-container {
    // Title located inside of CategoriesView
    .top-news-view-container-title {
        max-width: 1150px;
    }
    h1 {
        font-size: 3rem;
    }

    .category-news-wrapper-component-reduce {
        max-width: 1150px;

        .category-news-wrapper-component-title-row {
            cursor: pointer;
            background-color: $secondary-site-color;

            h1 {
                color: #fff;
            }

            
            .btn-area {
                .btn-all {
                    background-color: $primary-site-color;
                    color: #fff;
                    font-size: 1.3rem;
                }
            }
        }

        .category-news-wrapper-component-slider-item {
            max-width: 320px;
        }
    }
}

// Main top news container
.news-view-container {

    h1 {
        font-size: 3rem;
    }

}

.top-news-view-col {
    max-width: 1400px;
}

// For smaller devices
@media screen and (max-width: 500px) {
    .top-news-view-container-title {
        font-size: 1rem;
    }
    .category-news-wrapper-component-title-row {
        cursor: pointer;
        background-color: $secondary-site-color;

        h1 {
            font-size: 2rem;
        }
    }



    // Center for smaller devices
    .news-view-container {

        h1 {
            text-align: center;
        }
    }

}