.single-news-container .single-news-col.v-image__image.v-image__image--cover {
  background-position: center center;
}
.single-news-container .single-news-title h1 {
  font-size: 3rem;
  font-weight: bold;
}
.single-news-container .single-news-content p {
  font-size: 1.8rem;
}
@media screen and (max-width: 500px) {
  .single-news-container .single-news-title h1 {
    text-align: left;
  }
}
