// Single news styl
.single-news-container-fluid {

    // Image column
    .single-news-col.v-image__image.v-image__image--cover {
        background-position: center center;
    }

    // Content title
    .single-news-title {
        h1 {
            font-size: 3rem;
            font-weight: bold;
        }
    }

    // News content
    .single-news-content {
        p {
            font-size: 1.8rem;
        }
    }
}

// Back button
.btn-back.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    color: #fff;
    background-color: $secondary-site-color;
    bottom: 15px;
    position: fixed;
}

@media screen and (max-width: 500px) {


    .single-news-container-fluid {

        .single-news-title {
            h1 {
                text-align: left;
            }
        }
    }

}