<template>
    <v-container class="text-center pr-4">
        <v-row justify="center">
            <crud-component 
                @completed="onTopHeadlinesRequestFinished" 
                :freez-requests="freezRequests" 
                method="GET" 
                url="/top-headlines" 
                :query="categoryUrls[categoryItem.category]" 
                v-for="(categoryItem, index, key) in getNewsCategories" :key="key">
                <template v-slot:default="{status}">
                    <v-container v-if="status !== 'error'" class="category-news-wrapper-component-reduce">
                        <v-row class="text-left category-news-wrapper-component-title-row" justify="center">
                            <v-col lg="1" md="1" sm="1" cols="2" align-self="center" class="btn-area">
                                <v-btn class="btn-all mr-2" @click="showFullCategory(categoryItem.category)" medium>All</v-btn>
                            </v-col>
                            <v-col lg="11" md="11" sm="11" cols="10">
                                <h1 @click="categoryItem.expand = !categoryItem.expand" class="pl-sm-3 pr-lg-11 pr-md-11 pr-sm-11 pr-10">
                                    Top news from {{ getCategoryName(categoryItem.category) }}
                                </h1>
                            </v-col>
                        </v-row>
                        <v-expand-transition>
                            <v-row class="text-center" justify="center" v-if="categoryItem.expand">
                                <v-slide-group  :show-arrows="true" :class="{'px-lg-12': categoryItem.topHeadlines && categoryItem.topHeadlines.length < 6 ? true : false}">
                                    <v-slide-item  class="category-news-wrapper-component-slider-item" v-for="(news, index, key) in categoryItem.topHeadlines" :key="key">
                                        <v-col class="ma-0 pa-lg-2 pa-md-2 pa-sm-2 px-4" dense lg="3" md="3" sm="4" cols="1">
                                            <news-component 
                                  
                                                :data-intersection="`${key}-${index}-${categoryItem.category}`"
                                                v-intersect="onLastCardIntersect" 
                                                :item="news">
                                            </news-component>
                                        </v-col>
                                    </v-slide-item>
                                </v-slide-group>
                            </v-row>
                        </v-expand-transition>
                    </v-container>
                </template>
            </crud-component>
            <v-container v-if="hasErrors">
                <v-row justify="center"> 
                    <v-alert type="error">
                        {{ errorMessage }}
                    </v-alert>
                </v-row>
            </v-container>
        </v-row>
    </v-container>
</template>

<script>
import CrudComponent from '@/components/CrudComponent'
import NewsComponent from './NewsComponent'
import { mapGetters } from 'vuex'
export default {
    name: 'CategoryTopNewsWrapper',
    data: function () {
        return {
            expandableCategories: [],
            displayCategory: false,
            categoryUrls: {},
            freezRequests: false,
            hasErrors: false,
            errorMessage: ""
        }
    },
    components: {
        CrudComponent,
        NewsComponent
    },
    computed: {
        ...mapGetters([
            'getNewsCategories',
            'getActiveCountry',
            'getNewsCategory',
            'getTotalResultsInCategory',
            'getTotalResultsInCategory',
            'getCategoryPage',
            'getCategoryUrl'
        ])
    },
    created() {
        // Set in state but also set in data so that CRUD component can trigger request when query gets changed
        for (let category in this.getNewsCategories) {
            let updatedCategory = {
                category: category,
                url: `country=${this.getActiveCountry.code}&pageSize=${this.getNewsCategories[category].query.pageSize}
                    &page=${this.getNewsCategories[category].query.page}${category ? `&category=${category}` : ""}`
            }
            // this.$store.dispatch('setCategoryUrl', updatedCategory)
            this.categoryUrls[category] = updatedCategory.url;
        }

    },
    watch: {
        // Retrigger categories request
        getActiveCountry: {
            handler: function () {
                // Reset data to defaults
                Object.assign(this.$data, this.$options.data())
                this.$store.dispatch('setStateToDefaultPerKey', 'categories');
                for (let category in this.getNewsCategories) {
                    let updatedCategory = {
                        category: category,
                        url: `country=${this.getActiveCountry.code}&pageSize=${this.getNewsCategories[category].query.pageSize}
                        &page=${this.getNewsCategories[category].query.page}${category ? `&category=${category}` : ""}`
                    }
                    // this.$store.dispatch('setCategoryUrl', updatedCategory)
                    this.categoryUrls[category] = updatedCategory.url;
                }

            }
        }
    },
    methods: {
        getHeadlinesInCategory(category) {
            return this.getNewsCategory(category).topHeadlines;
        },
        /**
         * @description Get category name with first letter as upper case
         */
        getCategoryName(category) {
            let firstLetter = category.length > 0 ? category[0] : "";
            if (firstLetter) {
                return `${firstLetter.toUpperCase()}${category.slice(1, category.length)}`
            }

            return category;
        },
        /**
         * @description Set headlines for each category when request has finished
         */
        onTopHeadlinesRequestFinished({data, totalResults, queryParams, status, message}) {
            if (status === 'error') {
                this.hasErrors = true;
                this.errorMessage = message;
            }
            if (queryParams.category) {
                this.$store.dispatch('setCategoryTotalResults', {
                    category: queryParams.category,
                    totalResults: totalResults
                })
                let updatedCategory = {
                    category: queryParams.category,
                    topHeadlines: data
                }
                this.$store.dispatch('setCategoryTopHeadlines', updatedCategory)
            }
        },
        /**
         * @description When last card comes into view, check if there is more to load
         * This is used to load more entries in slider group. 
         * INFO: Disabled currently
         */
        onLastCardIntersect(/**entries*/) {
            // for (const entry of entries) {
            //     let index = entry.target.getAttribute('data-intersection').split("-")[1];
            //     let category = entry.target.getAttribute('data-intersection').split("-")[2];
                
            //     if (index && ((this.getHeadlinesInCategory(category).length - 1) == index) && entry.isIntersecting) {
            //         if (this.getHeadlinesInCategory(category).length < this.getTotalResultsInCategory(category)) {
            //             this.$store.dispatch('setCategoryPage', {
            //                 category: category,
            //                 page: this.getCategoryPage(category) + 1
            //             })
            //         }
                    
            //     }
            // }
        },
        /**
         * @description Show full category - top news by category
         */
        showFullCategory(category) {
            // Works for upper and lower cases
            if (category == this.getNewsCategories[category].category) {
                this.$router.push({path: `/top-news/${category}`});
            }
        }
    }
}
</script>