<template>
    <v-card v-if="!loading" class="topnews-card" :elevation="elevation" @mouseenter="mouseenter" @mouseleave="mouseleave"> 
        <v-img height="158" :src="image">
            <template v-slot:default>
                <slot name="image">
                </slot>
            </template>
        </v-img>

        <v-card-title class="ml-1 pa-0 pl-3 pt-2" v-if="!imageOnly && title">
            {{ title }}
        </v-card-title>

        <v-card-subtitle class="topnews-card-subtitle ma-0 pa-0 mt-1 pl-4 text-left" v-if="!imageOnly && subTitle">
            <slot name="subtitle">
                {{ subTitle }}
            </slot>
        </v-card-subtitle>


        <v-card-text class="ma-0 pa-0 pl-1 topnews-card-text" v-if="!imageOnly">
            <slot name="description">
                <v-row class="ma-0 pa-0">
                    <v-col cols="12" class="text-left pt-1 pb-0">
                        <p>
                            {{ description }}
                        </p>
                    </v-col>
                </v-row>
            </slot>
        </v-card-text>

        <v-card-actions class="ma-0 pa-0 topnews-card-actions" v-if="!imageOnly">
            <slot name="actions"></slot>
        </v-card-actions>



    </v-card>
    <v-skeleton-loader v-else class="mx-auto" type="card">

    </v-skeleton-loader>
</template>

<script>
  export default {
    name: "CardComponent",
    props: {
        title: {
            type: String,
            required: false,
            default: ""
        },
        subTitle: {
            type: String,
            required: false,
            default: ""
        },
        rating: {
            type: Number,
            required: false,
            default: 0
        },
        ratingDescription: {
            type: String,
            required: false,
            default: ""
        },
        ratingHalfIncrements: {
            type: Boolean,
            required: false,
            default: true
        },
        description: {
            type: String,
            required: false,
            default: ""
        },
        image: {
            type: String,
            required: false,
            default: ""
        },
        loading: {
            type: Boolean,
            required: false,
            default: false
        },
        height: {
            type: String,
            required: false,
            default: "380"
        },
        elevation: {
            type: Number,
            required: false,
            default: 0
        },
        imageOnly: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    data: () => ({}),
    methods: {
        mouseenter: function(event) {
            this.$emit('mouseenter', event);
        },
        mouseleave: function(event) {
            this.$emit('mouseleave', event);
        }
    }
  }
</script>
