<template>
  <v-app-bar class="ma-0 pa-0 header-component-bar" dark :color="backgroundColor ? backgroundColor : ''">
    <v-app-bar-nav-icon @click="open"  class="hidden-sm-and-up"></v-app-bar-nav-icon>

    <!-- Content might be inserted before left and right items -->
    <slot name="prepend"></slot>

    <!-- Clicking on item will trigger emit to parent component which decides what happens when item is clicked -->
    <v-toolbar-title 
      v-for="(item, index, key) in leftItems" :key="key"
      :class="{'header-item-active': item.active}"
      class="pa-lg-4 pa-md-4 pa-sm-4 header-bar-titles d-none d-lg-block d-md-block d-sm-block" 
      @click="headerItemSelected(item)"
    >
      {{ getHeaderItemName(item) }}
    </v-toolbar-title>

    <v-spacer v-if="withSpacing"></v-spacer>

    <v-toolbar-title 
      v-for="(item, index, key) in rightItems" :key="key"
      :class="{activeClass: item.active}"
      class="pa-lg-4 pa-md-4 pa-sm-4 header-bar-titles d-none d-lg-block d-md-block d-sm-block" 
      @click="headerItemSelected(item.identifier ? item.identifier : '')"
    >
      {{ getHeaderItemName(item) }}
    </v-toolbar-title>

    <!-- Content might be inserted after left and right items -->
    <slot name="append"></slot>
  </v-app-bar>
</template>

<script>
export default {
  name: 'HeaderComponent',
  props: {
    leftItems: {
      type: Array,
      required: false,
      default: () => {
        return [];
      }
    },
    rightItems: {
      type: Array,
      required: false,
      default: () => {
        return [];
      }
    },
    withSpacing: {
      type: Boolean,
      required: false,
      default: true
    },
    backgroundColor: {
      type: String,
      required: false,
      default: ""
    },
  },
  data: function () {
    return {};
  },
  methods: {
    /**
     * @description Returns title name from item provided in header
     */
    getHeaderItemName(item) {
      return item.name ? item.name : "";
    },
    headerItemSelected(item) {
      this.$emit('selected', item)
    },
    open() {
      this.$emit('opened', true)
    }
  },
}
</script>

