<template>
    <v-navigation-drawer :color="backgroundColor" v-model="display"  app temporary>
      <v-list-item>
        <v-list-item-content class="text-center">
          <v-list-item-title>{{ title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>

        <v-list-item @click="selected(item)"  v-for="(item, index, key) in items" :key="key" link>
          <v-list-item-icon>
            <v-icon :size="iconSize">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item[displayText] }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: "NavigationDrawerComponent",
    props: {
        clipped: {
            type: Boolean,
            required: false,
            default: true
        },
        displayText: {
            type: String,
            required: true
        },
        title: {
            type: String,
            required: false,
            default: 'Top news'
        },
        items: {
            type: Array,
            required: false,
            default: () => {
                return [];
            }
        },
        displayed: {
            type: Boolean,
            required: false,
            default: null
        },
        backgroundColor: {
          type: String,
          required: false,
          default: "#10163A"
        },
        iconSize: {
          type: String,
          required: false,
          default: "22"
        }
    },
    watch: {
        displayed: {
          handler: function (newValue) {
              if (this.display != newValue) {
                this.display = newValue;
              }
          }
        },
        display: {
          handler: function () {
            if (!this.display) {
              this.$emit('closed')
            }
          }
        }
    },
    data: function () {
        return {
            display: null
        }
    },
    methods: {
      selected: function (item) {
        this.$emit('selected', item)
      }
    }
}
</script>