<template>
    <v-row class="news-view-container">
        <v-col lg="12" md="12" sm="12" cols="12" class="text-center">
            <div>
                <h1 class="text-left px-lg-0 px-md-0 px-sm-5 px-8">{{ title }}</h1>
            </div>
            <v-progress-circular
                v-if="loading"
                :size="50"
                color="primary"
                indeterminate
                absolute
            ></v-progress-circular>
            <crud-component method="GET" url="/top-headlines" :query="query.url" @completed="onTopHeadlinesRequestFinished">
                <template v-slot:default="{loading, status, message}">

                    <v-row class="text-center px-sm-6" v-if="status !== 'error'">
                        <v-col 
                        dense lg="3" md="4" sm="6" cols="12"
                        class="ma-0 pa-lg-3 pa-md-2 pa-sm-2 px-10" 
                        v-for="(news, index, key) in topHeadlines" :key="key">
                            <news-component 
                                :loading="loading"
                                :data-intersection="`${key}-${index}`" 
                                class="news-view-card" 
                                v-intersect="onLastCardIntersect" :item="news" >
                            </news-component>
                        </v-col>
                    </v-row>
                    <v-row v-else justify="center"> 
                        <v-alert type="error">
                            {{ message }}
                        </v-alert>
                    </v-row>
                </template>
            </crud-component>
        </v-col>
    </v-row>
</template>

<script>
import NewsComponent from '@/components/NewsComponent'
import CrudComponent from '@/components/CrudComponent'
import { mapGetters } from 'vuex'
export default {
    name: "TopNewsView",  
    components: {
        CrudComponent,
        NewsComponent
    },
    props: {
        category: {
            type: String,
            required: false,
            default: ""
        },
        title: {
            type: String,
            required: true,
            default: ""
        }
    },
    data: function () {
        return {
            loading: true,
            query: {
                url: "",
                pageSize: 8,
                page: 0
            },
            totalResults: 0,
            topHeadlines: []
        }
    },
    created() {
        this.query.url = `country=${this.getActiveCountry.code}&pageSize=${this.query.pageSize}&page=${this.query.page}
            ${this.category ? `&category=${this.category}` : ""}`
    },
    watch: {
        getActiveCountry: {
            handler: function (newVal) {
                // Reset data to defaults
                Object.assign(this.$data, this.$options.data())
                this.query.url = `country=${newVal.code}&pageSize=${this.query.pageSize}&page=${this.query.page}
                    ${this.category ? `&category=${this.category}` : ""}`
            }
        },
        query: {
            deep: true,
            handler: function (newVal) {
                this.query.url = `country=${this.getActiveCountry.code}&pageSize=${newVal.pageSize}&page=${newVal.page}
                    ${this.category ? `&category=${this.category}` : ""}`

            }
        }
    },
    computed: {
        ...mapGetters([
            'getActiveCountry'
        ]),
        getNumberOfTopHeadlines() {
            return this.topHeadlines.length;
        }
    },
    methods: {
        onLastCardIntersect(entries) {
            for (const entry of entries) {
                let index = entry.target.getAttribute('data-intersection').split("-")[1];
                if (index && ((this.getNumberOfTopHeadlines - 1) == index) && entry.isIntersecting) {
                    if (this.getNumberOfTopHeadlines < this.totalResults) {
                        this.query.page += 1;
                    }
                    
                }
            }
        },
        onTopHeadlinesRequestFinished({data, totalResults, loading}) {
            this.loading = loading;
            this.totalResults = totalResults;
            if (data) {
                this.topHeadlines = [...this.topHeadlines, ...data];
            }
        }
    }
}
</script>