<template>
    <display-card-component
        class="news-view-card"
        v-intersect="onIntersection"
        :loading="loading"
        :elevation="6"
        :image="getImageUrl(item.urlToImage)"
        :sub-title="`${getAuthorName(item.author)}`"
        :description="getDescription(item.description)">
            <!-- TODO Wrap this into some other component. Might be used on other places too. -->
            <template v-slot:image>
                <v-row justify="center" align="start" class="pa-3 pt-0 news-card-title"> 
                    <v-col cols="12" class="pt-1 pb-1 text-left">
                        <p v-exceptr:95="'...'">
                            {{ item.title }}
                        </p>
                    </v-col>
                </v-row>
            </template>

            <template v-slot:subtitle>
                <v-row justify="center" align="start" class="news-card-subtitle px-1"> 
                    <v-col cols="12" class="pa-0 ma-0 pt-1 pr-1">
                        <p v-exceptr:80="'...'" class="mb-1 px-2">
                            {{ getAuthorName(item.author) }}
                        </p>
                    </v-col>
                </v-row>
            </template>

            <template v-slot:description>
                <v-row justify="start"  align="start" class="ma-0 pa-0 pb-2 news-card-description">
                    <v-col align="start" cols="12" class="text-left pt-1 pb-0">
                        <p v-exceptr:160="'...'" class="mb-1">
                            {{  getDescription(item.description) }}
                        </p>
                    </v-col>
                </v-row>
            </template>
            <template v-slot:actions>

                <v-row justify="start" align="center" class="pa-3 py-1 pb-0 mb-0 news-card-actions"> 
                    <v-col cols="8" class="pa-0 ma-0 pl-3 pr-1">
                        <v-row class="pa-0 ma-0">
                            <v-col cols="12" class="pa-1 ma-0 text-left news-card-source">
                                <p v-exceptr:21="'...'" class="pa-0 ma-0">
                                    Source: {{ item.source.name }}
                                </p>
                            </v-col>
                        </v-row>
                        <v-row class="pa-0 ma-0">
                            <v-col cols="12" class="pa-1 pt-0 ma-0 text-left news-card-published">
                                <p class="pa-0 ma-0">
                                    At: {{ getPublishedAt(item.publishedAt) }}
                                </p>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="4" class="pa-0 ma-0 mt-0">
                        <v-btn @click="openNews" class="btn-more" size="14">
                            More
                        </v-btn>
                    </v-col>
                </v-row>
            </template>
        </display-card-component>
</template>

<script>
import DisplayCardComponent from '@/components/DisplayCardComponent'
export default {
    name: "NewsComponent",
    components: {
        DisplayCardComponent
    },
    props: {
        item: {
            type: Object,
            required: true
        },
        loading: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    methods: {
        getAuthorName(author) {
            return author ? `Authors: ${author}` : "Unknown author";
        },
        // TODO Add fallback image
        getImageUrl(imageUrl) {
            return this.$globalHelpers.getImageUrl(imageUrl);
        },
        getPublishedAt(publishedAt) {
            return this.$timeHelpers.formatDateAndTime(publishedAt);
        },
        getDescription(description) {
            return description ? description : "News are not provided.";
        },
        onIntersection() {
            this.$emit('intersected');
        },
        openNews() {
            this.$router.push({path: '/single-news', name: 'singlenews', params: this.item})
        }
    }
}
</script>