<template>
  <v-toolbar class="search-component-toolbar" dark>
    <v-toolbar-title>
        {{ title }}
    </v-toolbar-title>
    <v-autocomplete
        :loading="loading"
        :items="items"
        :search-input.sync="search"
        cache-items
        class="mx-4"
        flat
        hide-no-data
        hide-details
        :label="placeholder"
        solo-inverted
        :append-icon="appendIcon"
    ></v-autocomplete>
  </v-toolbar>
</template>

<script>
  export default {
    name: "SearchComponent",
    props: {
        title: {
            type: String,
            required: false,
            default: "Search"
        },
        placeholder: {
            type: String,
            required: false,
            default: "Search for news..."
        },
        appendIcon: {
            type: String,
            required: false,
            default: ""
        }
    },
    watch: {
        search (val) {
            setTimeout(() => {
                this.$emit('search', val)
            }, 500)
        },
    },
    data: function () {
      return {
        loading: false,
        items: [],
        search: null,
      }
    }
  }
</script>