<template>
  <v-app>
    <navigation-drawer-component 
      @closed="onDrawerClosed(false)"
      @selected="onHeaderItemSelected"
      :displayed="isNavigationDrawerOpened" 
      displayText="name" 
      :items="getHeaderSectionLeftItems" 
      class="pa-0 ma-0 navigation-drawer-component"
    ></navigation-drawer-component>
    <v-container fluid class="ma-0 pa-0">
      <v-row class="ma-0 pa-0">
        <!-- HEADER COMPONENT -->
        <header-component
          @opened="onDrawerOpened(true)"
          @selected="onHeaderItemSelected"
          :leftItems="getHeaderSectionLeftItems"
        >
          <template v-slot:append>
          <v-toolbar-title 
            class="pa-lg-4 pa-md-4 pa-sm-4 pa-2 header-bar-titles" 
            :class="{
              'country-disabled': !country.enabled,
              'country-active': country.active
            }"
            v-for="(country, index, key) in getCountries" 
            :key="key"
            @click="country.enabled ? countryChanged(country.code) : null"
          >
            {{ upperCaseItem(country.code) }}
          </v-toolbar-title>
          </template>
        </header-component>
        <!-- END OF HEADER COMPONENT -->
      </v-row>
    </v-container>
    <!-- MAIN CONTAINER WHICH CONTAINS LOADED ROUTER VIEWS -->
    <v-container class="main-container mt-12 pt-lg-2 pt-md-2 pt-sm-2 pa-0 pt-2" fluid>
      <router-view>
      </router-view>
    </v-container>
    
    <!-- END OF MAIN CONTAINER -->
  </v-app>
</template>

<script>
import NavigationDrawerComponent from '@/components/NavigationDrawerComponent'
import { EventBus } from './services/event.service'
import { mapGetters } from 'vuex'
import HeaderComponent from '@/components/HeaderComponent'

export default {
  name: 'App',
  components: {
    HeaderComponent,
    NavigationDrawerComponent
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters([
      'getHeaderSectionLeftItems',
      'getCountries',
      'isNavigationDrawerOpened'
    ])
  },
  watch: {
    $route: {
      handler: function (newVal) {
        this.$store.dispatch('setCountriesEnabled', newVal.name === "singlenews" ? false : true)
        this.$store.dispatch('setActiveHeaderItem', newVal.name)
      }
    }
  },
  methods: {
    /**
     * @description When selected country is changed emits global event
     */
    countryChanged: function (code) {
      this.$store.dispatch('setActiveCountry', code)
      EventBus.$emit('countryChanged', {
        code
      })
    },
    /**
     * @description Handle change of selected header item in header component
     */
    onHeaderItemSelected: function (item) {
      this.$store.dispatch('setActiveHeaderItem', item.identifier ? item.identifier : "")
      if (item.to) {
        this.$router.push({path: item.to})
      }
      EventBus.$emit('activeHeaderItemChanged', {
        item
      })
    },
    onDrawerOpened: function () {
      this.$store.dispatch('setNavigationDrawerOpened', true)
    },
    onDrawerClosed: function () {
      this.$store.dispatch('setNavigationDrawerOpened', false)
    },
    upperCaseItem(item) {
      return item.toUpperCase();
    }
  }
};
</script>
